.img-main {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.img-wrap {
    overflow: hidden;
    height: 340;
    width: 300;
    border-radius: 30px;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}

.img-wrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
}